---
layout: default
title: "Sachindra Dasun"
---

<div class="hero-unit">
	<h1>Hello, I'm Dasun!</h1>
	<p style="font-size:20px; line-height:30px; margin-top:20px; margin-bottom:20px;"><b>Welcome to my personel website, thanks for visiting.</b> I'm a student and a computer enthusiast. Please explore this site to findout more about me and my experiances.</p>
	<p><a class="btn btn-primary btn-large" href = "/about.html">About me</a></p>
</div>

<div id="posts">
	{% for post in paginator.posts %}
	<hr/>
	<div class="post-preview">
		<img class="post-preview-image pull-right" src="{{ post.thumbnail }}" alt ="{{ post.title }}">
		<h2 class="post-preview-heading">
			<a href="{{ post.url }}">{{ post.title }}</a> 
			&nbsp;&nbsp;&nbsp;<span class="muted" style="font-size:14px;">{{ post.date | date_to_string }}</span>
		</h2>
		<p style="text-align:justify;">
			{{ post.excerpt }}
		</p>
		<div>
			<a class="btn btn-primary" href="{{ post.url }}" style="float:left;">Read more&raquo;</a>
			<ul class="inline post-preview-tag" style="float:right;">
				{% for tag in post.tags %}
				<li>
					<a href="/tag/{{ tag }}">
						<span style="color:#2FA4E7;">{{ tag }}</span>
					</a>
					{% if forloop.last %}
					{% else %}
					,
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% endfor %}
</div>
<div class="row">
	<div class="span10">


		<div id="post-pagination" class="pagination pagination-centered">
			<ul>
				{% if paginator.previous_page %}
				<li>
					{% if paginator.previous_page == 1 %}
					<a href="/#posts">&laquo;</a>
					{% else %}
					<a href="/page{{paginator.previous_page}}#posts">&laquo;</a>
					{% endif %}
				</li>
				{% else %}
				<li class="disabled">
					<a href="/#posts">&laquo;</a>
				</li>
				{% endif %}

				
				{% if paginator.page == 1 %}
				<li class="active">
					<a href="#posts">1</a>
				</li>
				{% else %}
				<li>
					<a href="/#posts">1</a>
				</li>
				{% endif %}

				{% for count in (2..paginator.total_pages) %}
				
				{% if count == paginator.page %}
				<li class="active">
					<a href="#posts">{{count}}</a>
				</li>
				{% else %}
				<li>
					<a href="/page{{count}}#posts">{{count}}</a>
				</li>
				{% endif %}
				
				{% endfor %}
				

				{% if paginator.next_page %}
				<li>
					<a href="/page{{paginator.next_page}}#posts">&raquo;</a>
				</li>
				{% else %}
				<li>
					<a href="#posts">&raquo;</a>
				</li>
				{% endif %}
			</ul>
		</div>

	</div>
</div>
