       

       

   </div>
    <div id="push"></div>
    </div>
   <hr>
   <div id="footer">
   <div class="container">
    <div class="row" style="text-align:center;">
       
         <div class="span2 pull-left" style="padding-top:15px;">
          &copy; K. S. Dasun 2012
        </div>
        <div class="span8" style="margin-top:-5px; padding-top:10px;">
         {% include social-media.html %}
       </div>
        <div class="span2 pull-right" style="padding-top:15px;">
          <a href="#">Back to top</a>
        </div>
     </div>
   </div>
 </div>
   <script src="/js/jquery.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-36856054-1']);
   _gaq.push(['_trackPageview']);

   (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>