 {% include header.html %}

 <div class="row">
  <div class="span9">
    <h1>{{ page.title }}</h1>
    <hr>
    <br>
    {{ content }}
  </div>
  <div class="span3">
    <div class="well" style="padding-top:5px; padding-bottom:5px;">
      <h4>About me</h4>
      <hr style="margin-top: 0px;"/>
      <p style="text-align:center;">
        <img class="img-circle" src="/images/dasun.png">
      </p>
      <p>I am Dasun, a student and a computer enthusiast.</p>
      <div style="margin-top:20px; margin-bottom: 20px;text-align:center;">
        {% include social-media.html %}
      </div>
    </div>
    <div class="well" style="padding-top:5px; padding-bottom:5px;">
      <h4>Share this</h4>
      <hr style="margin-top:0px;"/>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_email_large' displayText='Email'></span>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <script type="text/javascript">var switchTo5x=false;</script>
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher: "ur-69422a1b-4732-b589-ded9-ee27fd262d57"});</script>
    </div>
  </div>
</div>

{% include footer.html %}
